.home {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search {
  background-color: #272733;
  padding: 1rem;
  border: none;
  outline: none;
  margin-top: 2rem;
  color: inherit;
  width: 60%;
  font-size: inherit;
}
