body {
  font-size: 16px;
  color: #e2e8f0;
}

.App {
  min-height: 100vh;
  background: radial-gradient(#0f121a, #000);
  display: flex;
  padding: 1rem;
  padding-bottom: 10rem;
  flex-flow: row wrap;
}

.placeholder::placeholder {
  color: #b5bbc9;
}

.img {
  box-shadow: 0 5px 80px rgba(255, 255, 255, 0.2);
}

.Toastify__toast--warning {
  color: #000;
  padding: 0.5rem 1rem;
  min-height: max-content;
}

.Toastify__close-button {
  color: #000;
}

.movie-text {
  border-color: #262630;
  transition: all 0.2s ease;
}
.movie-text:hover {
  border-color: #0687ff;
}
